@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  background: #141816;
  font-family: "Chivo", sans-serif;
}

.archivo {
  font-family: "Archivo Black", sans-serif;
}

.link:hover,
.link:focus,
.link:active {
  color: greenyellow;
  background: rgb(80, 78, 78);
  border-radius: 5px;
  cursor: pointer;
}

.gray {
  color: #737b73;
}

.link {
  transition: background-color .8s, color .8s;
  padding: 3px 8px;
}

.link2:hover,
.link2:focus,
.link2:active {
  color: greenyellow;
  background: rgb(80, 78, 78);
  border-radius: 5px;
  cursor: pointer;
}

.link2 {
  transition: background-color .8s, color .8s;
  padding: 5px 58px;
}

.logo-container {
  transform: translateY(50px);
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.logo-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.logos {
  display: flex;
  gap: 120px;
  width: 200%;
  animation: slide 8s linear infinite;
}

.logos img {
  flex: none;
  width: 15%;
}

.card {
  background: #242524;
  padding: 10px 20px;
  color: gainsboro;
  border-radius: 20px;
}

.light {
  background-color: rgb(178 174 175 / 24%);
}

.dark {
  background: #242524;
}

img {
  width: 100%;
}